@model Collectify.Service.DTOs.Users.UserEmailUpdateDto

@{
    ViewData["Title"] = "Update Email";
}

<h2>Update Email</h2>

<form asp-action="ChangeEmail" method="post">
    <div>
        <label for="NewEmail">New Email:</label>
        <input type="email" asp-for="Email" required />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" asp-for="Password" required />
    </div>
    <button type="submit">Update Email</button>
</form>

<form asp-controller="Account" asp-action="Index" method="get">
    <button type="submit">Back</button>
</form>