@model Collectify.Service.DTOs.Users.UserPasswordUpdateDto

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="ChangePassword" asp-controller="Account" method="post">
    <div>
        <label for="OldPassword">Current Password:</label>
        <input type="password" asp-for="OldPassword" required />
    </div>
    <div>
        <label for="Password">New Password:</label>
        <input type="password" asp-for="Password" required />
    </div>
    <button type="submit">Change Password</button>
</form>

<form asp-controller="Account" asp-action="Index" method="get">
    <button type="submit">Back</button>
</form>