@model Collectify.Service.DTOs.Users.UserUpdateDto

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="PostUpdate" asp-controller="Account" method="post">
    <div>
        <label for="Name">New name:</label>
        <input type="test" asp-for="Name" required />
    </div>
    <div>
        <label for="Username">New username:</label>
        <input type="text" asp-for="Username" required />
    </div>
    <button type="submit">Change</button>
</form>

<form asp-controller="Account" asp-action="Index" method="get">
    <button type="submit">Back</button>
</form>